body{
    text-align: center;
    overflow: hidden;
}


.toast{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: blueviolet;
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 1s;
}
.toast::after{
    content: "";
    position: absolute;
    background-color: yellow;
    border-radius: 45px;
    bottom: 0;
    left: 0;
    height: 5px;

    animation: progressBar 5s linear;
}

@keyframes progressBar{
    0%{
        width: 100%;
    }
    100%{
       width: 0;
    }
}

.toast > button{
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    background-color: #fff;
    border: none;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;    
}

#toast-box{
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  
 
}